@viewport {
    zoom: 1;
    user-zoom: fixed;
}

html,
body,
#root {
    background: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Helvetica Neue';
    font-size: 3vw;
}

* {
    box-sizing: border-box;
}

.game-stats-wrapper li::before,
.game-stats-wrapper li::after {
    position: absolute;
    top: 0;
    height: 38px;
    width: 38px;
    display: block;
    content: ' ';
}

.game-stats-wrapper ul {
    margin: 0;
    padding: 0;
}

.game-stats-wrapper ul > li {
    list-style: none !important;
    padding: 6px 4px;
    margin-bottom: 3px;
    position: relative;
    background: url('assets/beams/LightBrown_middle.png');
}

.game-stats-wrapper .label {
    margin-left: 10px;
    display: inline-block;
    width: 70%;
}

.game-stats-wrapper li::before {
    left: -38px;
}

.game-stats-wrapper li::after {
    right: -37px;
    background: url('assets/beams/LightBrown_right.png');
}

.game-stats-wrapper li.energy::before {
    width: 39px;
    background: url('assets/beams/BeamHeart_LightBrown_left.png');
}

.game-stats-wrapper li.money::before {
    background: url('assets/beams/BeamCoin_LightBrown_left.png');
}

.game-stats-wrapper li.food::before {
    background: url('assets/beams/BeamBurger_LightBrown_left.png');
}
